@use "./variables.scss" as varr;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @media screen and (max-width: 1200px) {
    font-size: 55%;
  }

  @media screen and (max-width: 1000px) {
    font-size: 50%;
  }

  @media screen and (max-width: 700px) {
    font-size: 45%;
  }
}

body {
  font-family: varr.$app-font, sans-serif;
  line-height: 1.3;
  font-weight: varr.$font__wight;
  color: varr.$text_color;
  background-color: varr.$main__backg;
  font-size: varr.$main_font;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

i {
  font-size: 2.5rem;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  color: varr.$main__backg;
  font-weight: 100;

  cursor: pointer;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;

  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

i:hover,
i:active {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
