@import url("https://fonts.googleapis.com/css2?family=Macondo&family=Roboto:wght@100;400;500;700&family=Tapestry&display=swap");

$app-font: "Roboto", sans-serif;

$main_font: 1.6rem;
$header_gap: 3rem;
$link_gap: 2rem;
$font__wight: 400;

// color
$header__backg: rgb(255, 255, 255);
$main__backg: rgb(245, 245, 244);
$product__backg: #cdd1ce;
$btn__backg: #4b5548;
$btn__hover: #1e221d;

$text_color: #000;

$box_shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.4);

$border_radius_main: 0.5rem;
$breakpoint__tablet: 768px;
$breakpoint__mobile: 475px;

$transition: all 0.3s linear;
