@use "../../globalStyles/variables.scss" as varr;

.item {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding: 1rem;
  background: rgba(235, 235, 235, 0.438);

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h4 {
      font-weight: 300;
    }
  }

  p {
    font-weight: 300;
    font-size: 1.2rem;
  }

  &__delivery {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 4rem;
      height: 3rem;
    }
  }

  &__details {
    display: flex;
    justify-content: space-between;
    padding-right: 7.5rem;

    button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: inherit;
      height: 2.5rem;
      width: 8rem;
      border: none;

      i {
        margin-top: 0.5rem;
      }

      span {
        color: rgb(255, 145, 0);
        font-size: 1.8rem;
      }
    }
  }

  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
