@use "./globalStyles/variables.scss" as varr;

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;

  header {
    position: fixed;
    top: 0;
    height: 10rem;
    background-color: varr.$main__backg;
    font-family: varr.$head-font;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 500px) {
      font-size: 1.5rem;
    }

    @media screen and (max-width: 400px) {
      font-size: 1.3rem;
    }
  }
}
